body
{
	background-color: #0CF;
}

#gnl
{
	width: 960px;
	margin:auto;
	background-color: #DADADA;
}

header
{
	height: 150px;
	background-color: silver;
}

	header img
	{
		height: 150px;
		float:left;

	}

	header h1
	{
		text-transform: uppercase;
		text-align: center;
		line-height: 150px;
	}

main
{
	min-height: 400px;
}

aside
{
	width : 15%;
	float:left;
}
	
	aside nav li
	{
		list-style-type: none;
		line-height: 1.5em;

	}

	aside nav li a
	{
		text-decoration: none;
	}

#menuD
{
	width : 15%;
	float:left;
	background-color: white;
	border-radius: 20px;
}

section
{
	width : 68%;
	float:left;
	padding: 0 1%;
}

article h2
{
	font-style: italic;
}


footer
{
	height:75px;
	background: yellow;
	border-radius: 0px 0px 20px 20px;
	clear: left;
}
	footer ul, footer p
	{
		width: 46%;
		float:left;
		margin:1%;
		padding:1%;
	}


footer li
{
	list-style-type: none;
	display: inline-block;
}


